
body{
    display: none;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    z-index: 9999;
    position: fixed;
    width: 100%
}

.content{
    margin-top:50px;
}

div.container-fluid:nth-child(2){
    min-height:100vh;
}

.sidenav-left {
    padding-top: 60px;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9000;
  }

  .sidenav-right{
    padding-top: 60px;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    right:0;
    top: 0;
    z-index: 9000;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
    width: 100%;
    bottom: 0;
    margin-top: 10px;
  }

/*  */
.form-control{
    min-width: 200px!important;
}

#subjectContainer{
    padding-left: 0;
}

.leftTypeNav {
    border-radius: 4px; 
    text-align: left;
    text-decoration: none;
    background-color: #333030;
    margin: 5px 0;
    padding: 10px 0 10px 5px;
}

.leftTypeNav:hover {
    text-align: left;
    text-decoration: none;
    background-color: #0a0808;
    cursor:pointer;
}

.leftTypeNav{
    color: whitesmoke;
}

.leftTypeNav a:hover {
    color: whitesmoke;
    text-decoration: none;
}


.iconHover:hover { 
    cursor: pointer!important;
}

.textBoxEntry {
    height: 200px;
    width: 870px;
    margin-bottom: 10px;
}

.entryDropDown {
    height: 30px;
    width: 150px;
    margin: 5px;
    margin-left: 0;
}

.formContainer {
    margin:  15px;
}

.formContainer label{
    margin-right: 5px;
}

.buttonContainer {
    margin: 0 auto;
    width: 150px;

}

#optionsContainer {
    width: 124px;
    margin: 0 auto;
}

#optionsContainer h3{
    text-align: center;
}

.selectedButton {
    background-color : #0a0808;
}

#searchEntryContainer div{
    width: 30%;
}

#newEntryContainer p {
    width: 30%;
}

#newEntryContainer textarea {
    height: 150px;
    margin-bottom: 20px;
    min-width: 200px;
}

select {
    width: 174px;
    height: 26px;
}

.entryCell{
    max-width: 200px!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
}

i:hover{
    cursor: pointer;
}

#entryUpdate {
    height: 200px;
    width: 820px;
    margin-bottom: 10px;
    max-width: 820px;
}

#viewEntryBox i{
    margin-left: 98%;
}

#viewEntryBox {
    margin-left: 20px;
    padding: 20px;
    border: 1px solid gray;
    background-color: #ececec;
    margin: 0 0 15px 10px;
    width: 100%!important;
}

.main-container{
    width: 65%;
    margin: 0 auto;
    margin-left: 18%;
}

.main-container h1{
    text-align: center;
}

.typeSelection-parent{
    left: -130px;
    margin-top: 30px;  
}

.typeSelection{
    background-color: #333030;
    color:#ececec;
    width: 100px;
    border-radius: 4px;
    margin: 5px;
    padding: 5px 10px;
}

.typeSelection:hover {
    text-align: left;
    text-decoration: none;
    background-color: #0a0808;
    cursor:pointer;
}

#typesContainer {
    list-style: none;
    padding-left: 0;
    display: flex;
}

#welcome-msg{
    margin: 0 auto;
    width: 400px;
    text-align: center
}

#customFrequencyContainer{
    margin: 20px;
    margin-bottom: 30px;
}
#customValue{
    width: 5%;
}

#customInput{
    width: 10%;
    display: inline;
}

#startFromDate{
    display: block;
}
#activeInput{
    min-width: 10px!important;
    margin-left: 5px;
    width: 3%;
}

.ResolvedWarning{
    background-color:orangered;
}

.backToPage{
    list-style: none;
    color: #3A362F;
    padding-left: 0;
    padding-top: 10px;
}

.backToPage:hover{
    cursor: pointer;
    text-decoration: none;
    color: black;
    list-style: none;    
}

.backToPage a:hover{
    text-decoration: none;
    color: black;  
}

#errors{
    width: 90%;
    padding: 10px 20px;
    background-color: firebrick;
    border-radius: 4px;
    color: floralwhite; 
}

.changepwd label{
    display: block;
    width: 200px;
}

.changepwd{
    margin-top: 30px;
}

.btn-group{
    width : 300px;
}