
.leftTypeNav {
    text-align: left;
    text-decoration: none;
    background-color: #333030;
    margin: 5px 0;
    padding: 10px 0 10px 5px;
}

.leftTypeNav:hover {
    text-align: left;
    text-decoration: none;
    background-color: #0a0808;
    cursor:pointer;
}

.leftTypeNav{
    color: whitesmoke;
}

.leftTypeNav a:hover {
    color: whitesmoke;
    text-decoration: none;
}

#typesContainer {
    list-style: none;
    background-color: #333030;
    padding-left: 0;

}

.iconHover:hover { 
    cursor: pointer!important;
}

.textBoxEntry {
    height: 200px;
    width: 600px;
    margin-bottom: 50px;
}

.entryDropDown {
    height: 30px;
    width: 150px;
    margin: 5px;
    margin-left: 0;
}

.formContainer {
    width:  15px;
}

.formContainer label{
    width: 50px;
}